[submodule "coreir"]
	path = coreir
	url = https://github.com/rdaly525/coreir
    branch = master
[submodule "garnet"]
	path = garnet
	url = https://github.com/stanfordaha/garnet
    branch = master
[submodule "halide-to-hardware"]
	path = halide-to-hardware
	url = https://github.com/stanfordaha/halide-to-hardware
    branch = master
[submodule "BufferMapping"]
	path = BufferMapping
	url = https://github.com/joyliu37/BufferMapping
    branch = master
[submodule "coreir-apps"]
	path = coreir-apps
	url = https://github.com/rdaly525/coreir
    branch = ubuffer
[submodule "tapeout"]
	path = tapeout
	url = https://github.com/stanfordaha/garnet
    branch = tapeout
