name: Docker Image CI

on:
  push:
    branches-ignore: 
      - dependabot/**
      - '*-patch-*'
      - dev/**
  schedule:
    - cron: '0 11 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Delete clockwork and halide metadata
      run: |
        du -shx     .git/modules/voyager || echo okay
        du -sh voyager/models/* || echo okay
        du -shx     .git/modules/clockwork .git/modules/Halide-to-Hardware
        /bin/rm -rf .git/modules/clockwork .git/modules/Halide-to-Hardware

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Publish Docker Image
      run: |
        echo "${{ github.token }}" > my_secret.txt
        docker buildx build \
          --secret id=gtoken,src=my_secret.txt \
          --tag stanfordaha/garnet:latest \
          --push .
