name: Docker Image CI

on:
  push:
    branches-ignore: 
      - dependabot/**
      - '*-patch-*'
      - dev/**
  schedule:
    - cron: '0 11 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive

    - name: Delete clockwork and halide metadata
      run: |
        du -shx     .git/modules/clockwork .git/modules/Halide-to-Hardware
        /bin/rm -rf .git/modules/clockwork .git/modules/Halide-to-Hardware

    - name: Publish Docker image
      uses: elgohr/Publish-Docker-Github-Action@2.12
      with:
        name: stanfordaha/garnet
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        buildargs: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
        cache: false
