name: Docker Image CI

on:
  push:
    branches-ignore: 
      - dependabot/**
  schedule:
    - cron: '0 11 * * 0'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: Publish Docker image
      uses: elgohr/Publish-Docker-Github-Action@2.12
      with:
        name: stanfordaha/garnet
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        cache: ${{ github.event_name != 'schedule' }}
