name: Integration Tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 11 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive
#     - name: Build Docker Image
#       run: docker build . -t testing
#     - name: Run Integration Tests
#       run: |
#         docker run --name test --rm -it -d testing bash
#         docker exec test pip freeze
#         docker exec test aha garnet --width 4 --height 2 --verilog
#         docker exec test test -e /aha/garnet/garnet.v
    - run: /bin/false
    - name: Notify Owners
      if: github.event_name == 'pull_request' && failure()
      uses: actions/github-script@0.4.0
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          if (!context.payload.sender.login.includes("dependabot")) {
            // return
          }
          
          const updated_repo = context.payload.pull_request.title.match(/Bump ([^\s]+)/)[1]
          const result = await github.repos.getContents({
              owner: context.repo.owner,
              repo: context.repo.repo,
              path: "OWNERS.json"
            })
          const owners = JSON.parse(Buffer.from(result.data.content, result.data.encoding))
          
          console.log(owners[updated_repo])
          
          await github.issues.addAssignees({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              assignees: owners[updated_repo]
            })
          
          await github.pulls.createReviewRequest({
              pull_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              reviewers: owners[updated_repo]
            })
